/*
Colors used:
Primary Color (Blue): #4E79B2;
Secondary Color (Purple): #674DA8;
Alternate Color (Orange): #E88F4C;
Background Color (White): #FFFFFF;
Font References:
Open+Sans:400,700
Roboto:500
*/

/* Layout styling */
* {
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin: 3.0em;
}
.nav {
  background-color: lightblue;
  height: 60px;
    width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
    width:auto;
    float:right;
    margin-top: 2.5em;
}
.navbar {
  background-color: lightblue;
    border-bottom: 3px solid #674DA8;
    height: 150px;
    padding: 0.15em;
    margin-top: 4px;
    box-shadow: 4px 4px 13px 0px rgba(7, 87, 207, 0.65);
    box-shadow: 4px 4px 13px 0px rgba(7, 87, 207, 0.65);
    box-shadow: 4px 4px 13px 0px rgba(7, 87, 207, 0.65);
    top: 0%;
    transform: translateY(-4%);
}
svg {
  width: 90%;
  height: 90%;
}
img.logo {
    max-height: 75px;
    max-width: 150px;
    text-align: center;
}
.navbar-header {
    height: 100px;
    width: 600px;
    position: relative;
    display: inline-flex;
}
.navbar-header > ul {
    list-style-type: none;
    padding: 0em;
    margin: 1.0em 0;
    float: right;
}
.navbar-header > ul > li {
    display: inline-block;
}
.navbar-header > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #674DA8;
}
.navbar-header > ul > li > a:visited {
 padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4E79B2;
}
.navbar-header > ul > li > a:active {
 padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #674DA8;
}
.navbar-header > ul > li > a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #cc6540;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  left: 7.0em;
  top: 36px;
    padding-left: 1.0em;
    font-size: 20px;
    text-align: right;
}
.fas.fa-bars::before {
     padding-left: 1.3em;
    display: inline-flex;
}
nav nav-pills navbar-right {
    margin: 0px;
}
.navtoggle.responsive li  {
    display: block;
     margin-top: 1.0em;
      padding-left: 3.0em
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
.container-intro {
    padding: 1.625em;
    padding-top: 12.0em;
}
#main-section {
    padding: 0.75em;
    padding-top: 4.0em;
}
img {
    width: 100%;
    height: 100%;
}
hero {
    background-color: lightblue;
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
#hero span {
    display: block;
}
.container {
    padding: 0 15px;
}
.row {
    margin: 25px 0;
}
.row::after {
    content:"";
    clear: both;
    display: table;
}
.casestudycontent {
    padding: 1.0em;
    float: inherit;
    text-align: left;
    max-width: 1200px;
    margin: 1.0em;
    padding-top: 0.9em;
}
.aboutme {
    padding-right: 1.0em;
    padding-bottom: 3.0em;
}
h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    }
h1 {
    font-size: 2.75em;
    font-weight: 500;
}
h2 {
    font-size: 2.25em;
    font-weight: 500;
}
h3 {
    font-size: 1.75em;
    font-weight: 500;
}
h4 {
    font-size: 1.35em;
    font-weight: 500;
}
a {
  color: #674DA8;
  text-decoration: none; /* No underlining */
}
a:hover, a:focus {
  color: #cc6540;
  text-decoration: underline;
}
a:visited { /* visited link */
  color: #4E79B2;
}
a:active { /* selected link */
  color: #674DA8;
}
.button {
  display: inline-block;
  background-color: #674DA8;
  color: #ffffff !important; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #8979b0; /* width of the border, type, color */
    transition-duration: 0.5s;
}
.button:hover {
  background-color: #a087de;
  text-decoration: none;
}
.button-contact {
  background-color: #FFFFFF;
  color: #4E79B2;
  text-transform: uppercase;
  border: 2px solid #4E79B2;
}
.button-contact:hover {
  background-color: #E88F4C;
  color: #ffffff
}
.footer-contact {
    border-top: 2px solid #4E79B2;
    border-bottom: 2px solid #4E79B2;
    margin-top: 12px;
    border-color: #4E79B2;
    color: #000000;
    padding: 1.0em;
}
.container-contact {
  display: inline-flex;
    width: 5.75em;
    background: #FFFFFF;
    margin: 0.5em;
}
#casestudy {
  padding: 0.75em;
  padding-top: 4.0em;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
  100% {fill: #f76414;}
}
.sun {
    animation-duration: 10s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@media only screen and (max-width: 640px) {
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

.navtoggle li:not(:last-child) {
  display: inline-block;
}
    .navtoggle li:last-child {
  display: none;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

.navtoggle li:last-child {
  display: none;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
.navtoggle li:last-child {
display: none;
}
}
/*new nav test*/
